html{
  box-sizing: border-box;
  font-size: 16px; /* 1rem */
}

body{
  font-size: clamp(0.875rem, 1.6vw, 1rem);
  line-height: 1.65;
  font-weight: 300;
}

*{
  margin: 0;
  padding: 0;
}

*, *:before, *:after{
  box-sizing: inherit;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  line-height: 1.1;
}
h2 {
  font-size: clamp(2.5rem, 3.5vw, 3rem);
  line-height: 1.15;
}
h3 {
  font-size: clamp(2rem, 3vw, 2.4rem);
  line-height: 1.2;
}
h4 {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  line-height: 1.25;
}
h5 {
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  line-height: 1.3;
}
h6 {
  font-size: clamp(1.1rem, 1.6vw, 1.3rem);
  line-height: 1.35;
}

.p{
 margin: 0 0 2rem 0
}

.wrapper{
  position: relative;
  padding: 0 0 10rem 0;
}

.wrapper:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-attachment: fixed;
  background-color: #49fcd4;
  background-image: url("../img/background.svg");
  background-position: -50% 10%;
  background-repeat: repeat-y;
  background-size: 75% auto;
  display: block;
  z-index: -1;
}

.wrapper section {
  display: flex;

  & > * {
    width: 50%;
  }
}


.first{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: end;
  position: relative;
  padding: 4rem 10rem 0 5rem
}


.first:before{
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #43d9b8;
  position: absolute;
  top: 4.5rem;
  left: calc(100% - 5rem);
}


.first h1{
  margin-top: -2rem;
}

.first h1+p{
  text-transform: uppercase;
  letter-spacing: 0.175rem;
  line-height: 2.5;
}

.first > *{
  width: 20rem;
  margin-left: auto;
}


.intro{
    align-items: center;
    height: 100vh;
}

  a.next{
    display: block;
    width: fit-content;
  }

a.next:before{
  content: '';
  display: inline-block;
  width: 6rem;
  height: 4rem;
  vertical-align: middle;
  margin-left: 0.5rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512 512'%3E%3Cpath d='M442.53,346.28L293.65,495.16c-0.33,0.33-0.7,0.62-1.05,0.94c-9.16,9.77-22.15,15.9-36.6,15.9 c-14.44,0-27.43-6.13-36.59-15.88c-0.35-0.33-0.72-0.62-1.06-0.96L69.47,346.28c-19.62-19.62-19.62-51.44,0-71.05 c19.62-19.62,51.43-19.62,71.06,0l65.23,65.23V50.24C205.76,22.5,228.25,0,256,0s50.24,22.5,50.24,50.24v290.21l65.23-65.23 c19.62-19.62,51.43-19.62,71.05,0C462.15,294.84,462.15,326.66,442.53,346.28z' fill='%23000000' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding-right: 2rem;
}

.heading{
    position: relative;
    font-size: 5rem;
}

.heading:before{
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2px;
  background: #43d9b8;
  right: -5rem;
  top: 2.5rem;
}

.heading:after {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #43d9b8;
    right: -2.5rem;
    top: 2.35rem;
}

a{
  color: inherit;
}

.dashed-link{
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  transition: text-decoration 1s;
}

.dashed-link:hover{
  text-decoration: none;
}

.second img{
  object-fit: cover;
  height: 100vh;
}

